In [57]:
import pandas as pd

In [58]:
# index_col 을 지정하면 인덱스가 Film 으로 지정된 상태로 객체가 만들어진다.
# bond = pd.read_csv("jamesbond.csv", index_col="Film")
bond = pd.read_csv("jamesbond.csv")
bond.head(3)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

# .set_index and .reset_index 메서드

index_col 을 Film 에 맞춘다. 즉, 인덱스를 Film 으로 한다. 그러나 .set_index 메서드를 통해서 동일한 행위를 정의할 수 있다.

In [59]:
bond.set_index("Film", inplace=True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

## .reset_index(drop = True)

drop 옵션 파라미터에 True 를 선언할 경우 기존의 인덱스를 Column 으로 되돌리지 않고 삭제한다.

In [60]:
# bond.reset_index('Film', drop = False, inplace=True)
bond.reset_index(inplace=True)
bond.set_index('Year', inplace=True)

In [61]:
bond.head(3)

,Film,Actor,Director,Box Office,Budget,Bond Actor Salary
Year,,,,,,
1962,Dr. No,Sean Connery,Terence Young,448.8,7.0,0.6
1963,From Russia with Love,Sean Connery,Terence Young,543.8,12.6,1.6
1964,Goldfinger,Sean Connery,Guy Hamilton,820.4,18.6,3.2