# Series 객체 활용 Part 2.

Series 를 이용한 데이터 처리 방법을 알아보겠습니다. 
I gonna let you undertand how to handle pandas.Series Class in order to process (N,) 1-column-sized table.

## 메서드 

자주 사용하는 메서드 목록은 아래와 같습니다. 
the list of common methods is same as the below table. 

|.method|descr.|
|:---:|:---:|
|.read_csv| csv 파일을 읽고 데이터 객체로 변환한다. |
|.tail| 맨 마지막에서 위로 5개(Default) 데이터 항목을 출력|
|.head| 맨 위에서 아래로 5개(Default) 데이터 항목을 출력 |
|.sort_values | 데이터를 기준으로 데이터를 정렬 |
|.sort_values | 데이터를 기준으로 데이터를 정렬 |
|.idxmax, .idxmin | 인덱스의 최대 혹은 최소 값을 출력 |
|.sum, .mean, .count, .std, .min, .max, .median, .mode | 각각 데이터의 합, 평균, 데이터 항목 수, 표준편차, 최소 값, 최대 값, 중간값, 최빈값을 출력 |
|.describe | 각종 통계, 사분위수 포함|
|.value_counts| 고유한 값들에 대한 카운트를 출력 |
|.apply(fnc, ...)| Series 데이터에 대해 함수를 실행, 분류값으로 사용할 수 있음 |
|.map| 두개의 Series 객체를 value-key 로 맵핑하여 새로운 Series 객체를 출력|
| (python-built-in) dir| 객체의 어트리뷰트 리스트를 출력|
| (python-built-in) sorted | 데이터를 정렬하여 출력 |
| (python-built-in) list |  객체를 list 타입으로 변환 |
| (python-built-in) dict |  객체를 dict 타입으로 변환 |
| (python-built-in) max, min |  데이터의 최대, 최소를 출력|

In [3]:
import pandas as pd

# Pokemon.csv 파일 로드

pokemon.csv 파일을 읽어오고 info 메서드를 출력하여 데이터 칼럼 목록을 식별한다.  pokemon.csv 파일은 아래의 두 칼럼으로 구성되어 있다.   

- Pokemon
- Type

read_csv 메서드의 index_cols, usecols 옵션을 지정하여 두 개의 Series 객체를 생성한다. 

- poket_name : 포켓몬 이름 칼럼
- poket_types : 포켓몬 속성(불,물,땅,전기 등) 칼럼

In [4]:
poket = pd.read_csv('../pokemon.csv')
poket.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 721 entries, 0 to 720
Data columns (total 2 columns):
Pokemon    721 non-null object
Type       721 non-null object
dtypes: object(2)
memory usage: 11.3+ KB

In [5]:
poket_name = pd.read_csv('../pokemon.csv',usecols=['Pokemon'], squeeze=True)

poket_name.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [6]:
poket_types = pd.read_csv('../pokemon.csv',usecols=['Type'], squeeze=True)

poket_types.head()

0    Grass
1    Grass
2    Grass
3     Fire
4     Fire
Name: Type, dtype: object

In [7]:
type(poket_name), type(poket_types)

(pandas.core.series.Series, pandas.core.series.Series)

# 포켓몬 이름과 속성을 결합하기

만약에 "피카추(Pikachu)" 의 속성이 무엇인지 알고 싶다면 어떻게 해야할까요? 

아래는 poket_name Series 데이터의 일부입니다.

|인덱스|속성|
|:---:|:---:|
|0 |  Bulbasaur |
|1 |  Ivysaur |
|2 |   Venusaur |
|3 |    Charmander |
|4 |   Charmeleon |

또한, 아래는 poket_types Series 데이터의 일부입니다.

|인덱스|속성|
|:---:|:---:|
|0 |  Grass |
|1 |  Grass |
|2 |   Grass |
|3 |    Fire |
|4 |   Fire |

두 데이터의 인덱스는 일치한다고 가정합니다. 이 경우 피카추의 속성을 알기 위해서는 인덱스를 통해 접근해야 합니다. `.reindex` 와

In [8]:
poket_types.value_counts(), poket_types.nunique()

(Water       105
 Normal       93
 Grass        66
 Bug          63
 Psychic      47
 Fire         47
 Rock         41
 Electric     36
 Ground       30
 Dark         28
 Poison       28
 Fighting     25
 Dragon       24
 Ghost        23
 Ice          23
 Steel        22
 Fairy        17
 Flying        3
 Name: Type, dtype: int64, 18)

`.nunique()` 메서드를 통해 확인 결과 18개의 중복되지 않는 속성이 있음을 확인할 수 있었습니다. 새로운 Series 객체를 만듭니다. 이는 기존의 Index 와 Name 칼럼의 역할을 역전시킵니다. 그리고 `.map` 메서드를 이용해서 `inverse_poket_name` 과 `poket_types` 를 합칩니다.

In [17]:
inverse_poket_name = pd.Series(poket_name.index, poket_name.values)
inverse_poket_name.head(4)

Bulbasaur     0
Ivysaur       1
Venusaur      2
Charmander    3
dtype: int64

In [ ]:
pd.Series()

In [10]:
poket_name_type = inverse_poket_name.map(poket_types)
# pd.concat([poket_types, poket_name], axis=1)
poket_name_type.head(4)

Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
dtype: object

자 이제 `Pikachu` 를 출력할 일이 남았습니다. 분명 `Electric` 속성일 것으로 생각됩니다. 인덱스가 포켓몬의 이름이므로 `Pikachu` 를 인자로 넘겨줍니다.
축하합니다. Pikachu 의 속성을 확인하셨네요.

In [11]:
poket_name_type['Pikachu']

'Electric'

# 좀 더 쉬운 방법

지금 까지의 작업은 두개의 별도의 시트가 있으며 동일한 숫자 키 값을 가지고 있다는 가정하에 진행되었습니다. 그러나, read_csv 메서드를 좀 더 잘 이해하면 일이 쉬워집니다.
  
  
  
index_col 에서 임의의 변수를 사용하기 위해서 N 개의 칼럼 중에서 M 개의 칼럼에 관심이 있는 경우 `usecols=['index_column_name', 'column_name_1', 'column_name_2'. ...]` 을 입력해야 합니다.그리고 `index_col='index_column_name'` 을 지정하면 원하는 대로 데이터가 생성됩니다.

In [12]:
poket_name_type = pd.read_csv('../pokemon.csv', index_col='Pokemon', usecols=['Pokemon','Type'], squeeze=True)
poket_name_type.head(4)

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Name: Type, dtype: object

자 이제 피카추를 찾아볼까요?
**그렇습니다. 피카추는 전기(Electric) 속성입니다.**

In [13]:
poket_name_type['Pikachu']

'Electric'

# 한글 패치

만약에 우리가 영어를 모른다면 `Pikachu`가 `피카추` 인지를 알기 어려울 수 있습니다. 이 때 rename 을 사용하면 좋습니다. 
조금은 억지스러운 시나리오 이지만 이렇게 하나씩 치환해간다면 언젠가 번역이 끝나지 않을까요? :)

In [14]:
poket_name_type.rename(lambda x: '피카추' if x == 'Pikachu' else x)['피카추']

'Electric'

# 인덱스 뒤로 미루기

만약에 우리가 임포트한 CSV 파일의 순서가 뒤로 밀렸다고 가정합니다. 신규 포켓몬인 "DeraDera" 가 맨 앞에 배치되었습니다. 우리의 선택지는 다음과 같습니다. 

- 인덱스를 뒤로 미루거나 
- 맨처음 데이터를 맨 뒤로 위치시키는 작업

In [15]:
last_index = poket_name.index.max()
last_one = poket_name[last_index]
last_one
# poket_name.tail(1).equals(last_one)

'Volcanion'

In [16]:
next_index_number = poket_name .idxmax() + 1
poket_name.append(pd.Series(['DeraDera'], index=[next_index_number]))
poket_name.tail(3)

ValueError: could not convert string to float: 'Volcanion'

In [24]:
poket_name_type = pd.read_csv('../pokemon.csv', 
                              index_col='Pokemon', 
                              usecols=['Pokemon','Type'], 
                              squeeze=True)
poket_name_type.squeeze()

Pokemon
Bulbasaur        Grass
Ivysaur          Grass
Venusaur         Grass
Charmander        Fire
Charmeleon        Fire
Charizard         Fire
Squirtle         Water
Wartortle        Water
Blastoise        Water
Caterpie           Bug
Metapod            Bug
Butterfree         Bug
Weedle             Bug
Kakuna             Bug
Beedrill           Bug
Pidgey          Normal
Pidgeotto       Normal
Pidgeot         Normal
Rattata         Normal
Raticate        Normal
Spearow         Normal
Fearow          Normal
Ekans           Poison
Arbok           Poison
Pikachu       Electric
Raichu        Electric
Sandshrew       Ground
Sandslash       Ground
Nidoran         Poison
Nidorina        Poison
                ...
Clauncher        Water
Clawitzer        Water
Helioptile    Electric
Heliolisk     Electric
Tyrunt            Rock
Tyrantrum         Rock
Amaura            Rock
Aurorus           Rock
Sylveon          Fairy
Hawlucha      Fighting
Dedenne       Electric
Carbink           Rock
Goomy           Dragon
Sliggoo         Dragon
Goodra          Dragon
Klefki           Steel
Phantump         Ghost
Trevenant        Ghost
Pumpkaboo        Ghost
Gourgeist        Ghost
Bergmite           Ice
Avalugg            Ice
Noibat          Flying
Noivern         Flying
Xerneas          Fairy
Yveltal           Dark
Zygarde         Dragon
Diancie           Rock
Hoopa          Psychic
Volcanion         Fire
Name: Type, Length: 721, dtype: object