In [1]:
import pandas as pd

In [31]:
bond = pd.read_csv('jamesbond.csv', index_col='Film')
bond.sort_index(inplace=True)
bond.head(3)
bond.loc['Dr. No']

Year                          1962
Actor                 Sean Connery
Director             Terence Young
Box Office                   448.8
Budget                           7
Bond Actor Salary              0.6
Name: Dr. No, dtype: object

In [33]:
# iloc 과 loc 의 차이점
bond.loc['Moonraker', ['Year', 'Actor']]
bond.iloc[14, [1,2,3,4]]
bond.ix[20, "Budget"]
bond.loc['Dr. No']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  after removing the cwd from sys.path.

Year                          1000
Actor                 Sean Connery
Director             Terence Young
Box Office                       1
Budget                           1
Bond Actor Salary              0.6
Name: Dr. No, dtype: object

In [34]:
# 특정 셀 혹은 행의 값을 할당
bond.loc['Dr. No', ['Year', 'Box Office', 'Budget']] = [1000, 1, 1]

In [37]:
# 다수의 값들을 할당
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [ ]:
# Sean Connery 를 Sir Sean Connery 로 변경하기